@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --borderRadius: 4px;
  --borderColor: 1px solid #002f6c;
  --borderGrey: 1px solid #e0e0e0;
  --textColor: #002f6c;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testing {
  margin: 40px auto;
  text-align: center;
}

.testing p {
  margin: 0;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border: var(--borderGrey);
  border-radius: 6px;
}

.select_comp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: var(--borderGrey);
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 15px;
}

.select_comp h1 {
  margin: 0;
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-weight: 300;
  padding: 5px 8px;
  color: #6d6d6d;
  font-size: 26px;
}

.selected {
  color: #000000 !important;
  border: var(--borderColor);
  border-radius: 6px;
  background-color: #dae0ea;
}

.form_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.errors {
  color: red;
}

.new-account {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid black;
}

.submit {
  text-align: center;
  margin-top: 20px;
}

.submit button {
  cursor: pointer;
  border: var(--borderGrey);
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
}

button:hover {
  border: var(--borderColor);
  color: var(--textColor);
}

.inline-error {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  color: var(--textColor);
  font-size: 18px;
  margin-bottom: 3px;
}

.required::after {
  content: ' * ';
  color: red;
}

input {
  height: 35px;
  font-size: 18px;
  color: black;
  border: var(--borderColor);
  border-radius: 4px;
  padding: 0 10px;
  font-family: inherit;
}

input::placeholder {
  color: #c0c0c0;
  font-size: 16px;
}

.password {
  font-size: 14px;
}

.password small {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

@media (max-width: 591px) and (max-height: 950px) {
  .form {
    border: none;
  }
}